body{
    background-image: url("https://images.fineartamerica.com/images/artworkimages/mediumlarge/2/space-stars-texture-sololos.jpg");
}
.handletop{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
    border-radius: 5px;
    position: absolute;
    margin-left: 75px;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    border-bottom-right-radius: 12px;
    border-top-right-radius: 12px;
    z-index: -1;
}
.handlebase{
    width: 30px;
    height: 30px;
    background-color: grey;
    border-style: solid;
    border-color: black;
    border-width: 2.5px;
    border-radius: 5px;
    position: absolute;
    border-bottom-left-radius: 12px;
    border-top-left-radius: 12px;
    z-index: -1;
}
.handle{
    width: 60px;
    height: 25px;
    background-color: grey;
    border-color: black;
    border-width: 2.5px;
    border-style: solid;
    position: absolute;
    margin-top: 2.5px;
    margin-left: 23px;
    border-top-left-radius: 12px;
    border-bottom-left-radius: 12px;
    z-index: -1;
}
.blade{
    background-color: red;
    height: 20px;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    animation: ignite 2.5s;
    box-shadow: 0px 0px 5px red;
    margin-left: 90px;
    margin-top: 28.5px;
    border-bottom-left-radius: 50px;
    border-top-left-radius: 50px;
    animation-fill-mode: forwards
}
@keyframes ignite{
    from{
        width: 0px;
        box-shadow: 0px 0px 0px red;
    }
    to {
        width: 350px;
        box-shadow: 0px 0px 5px red;
    }
}